.backgroundcolor {
  background-color: #005fff;
}
.list_item {
  color: #005fff;
}
.tag_style {
  color: #005fff;
}
.figure_style {
  margin: 0;
}
.section_style {
  background-image: url(../img/958104.jpg);
}
